@tailwind base;

h1 {
  @apply text-3xl leading-tight my-4;
}
h2 {
  @apply text-2xl leading-tight my-4;
}
h3 {
  @apply text-xl leading-tight my-4;
}
h4,
h5,
h6 {
  @apply text-lg leading-tight my-4;
}
a {
  @apply text-blue-600 underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  hyphens: auto;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
}

.navbar-item {
  @apply no-underline text-black hidden py-1;

  &:hover {
    @apply underline;
  }
}
@screen sm {
  .navbar-item {
    @apply inline-block px-4 py-0;
  }
}

.is-active {
  .navbar-item {
    @apply block;
    @apply my-2;
    @apply px-0;
  }

  @screen sm {
    .navbar-item {
      @apply inline-block;
      @apply my-0;
      @apply px-3;
    }
  }
}

* {
  font-family: "Open Sans", sans-serif;
}

@tailwind components;

@tailwind utilities;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.layout-child {
  flex-grow: 1;
}

#symbol {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
#symbol-mobile {
  position: absolute;
  top: -23%;
  transform: translateY(50%);
  right: 5%;
}

.service {
  max-width: 170px;
}

.review {
  max-width: 325px;
}

.swiper-container {
  width: 100%;
}

#heart {
  position: relative;
  width: 27px;
  height: 19px;
  animation: heartbeat 1s infinite;
  margin: 0 auto;
}
#heart:before,
#heart:after {
  position: absolute;
  content: "";
  left: 13px;
  top: 0;
  width: 13px;
  height: 19px;
  background-image: linear-gradient(90deg, #00b0d5, #0266d5);
  -moz-border-radius: 13px 13px 0 0;
  border-radius: 13px 13px 0 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
#heart:after {
  left: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

@keyframes heartbeat {
  0% {
    transform: scale(0.9);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.9);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(0.9);
  }
}

.menuContainer {
  width: 100%;
}

@media (min-width: 640px) {
  .menuContainer {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .menuContainer {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .menuContainer {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .menuContainer {
    max-width: 1120px;
  }
}
